<div class="row">
    <div class="col-md-12 p-5">
        <p class="font-weight-light text-info">At WAi Technologies, we align jobs and careers to both, the purpose of the company, and the purpose of self. We value the right talent, skills and attitudes,</p><hr>
    </div>
    
    <div class="col-md-12">
        <form >
            <div class="row">
                <div class="col-md-3 ">
                    <!-- <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSMyfhIXjg7eiwDzUuwrmVNZsV1TyZFMlt0CA&usqp=CAU" style="width: 100px;height: 400px;"> -->
                </div>
                <div class="col-md-6 alert alert-success p-5">
                    <h5 class="text-warning">Contact-us</h5><hr>

                    <div class="row">
                        <div class="col-md-6">
                            <label>Name :</label>
                            <input type="text" name="name" class="form-control" placeholder="enter name">
                        </div>

                        <div class="col-md-6">
                            <label>phone :</label>
                            <input type="text" phone="phone" class="form-control" placeholder="enter phone">
                        </div>

                        <div class="col-md-6">
                            <label>email :</label>
                            <input type="text" email="email" class="form-control" placeholder="enter email">
                        </div>

                        <div class="col-md-6">
                            <label>address :</label>
                            <input type="text" address="address" class="form-control" placeholder="enter address">
                        </div>
                        <div class="col-md-12">
                            <label>subject :</label>
                            <textarea class="form-control" rows="3" placeholder="subject"></textarea>
                        </div>
<div class="col-md-12 mt-4">
    <button class="btn btn-outline-danger">Submit</button>

</div>

                    </div>
                </div>
           </div>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>
